/* .cover{
    background-size: cover !important;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bgIgame {
    object-fit: cover;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    position: relative;
   
}

.text{
    font-family: 'Dancing Script', cursive;
    color: rgba(0, 0, 0, 0.719);
    position: absolute;
}
